<h1>My quotes</h1>
<hr>
<div class="container">
    <div class="row">
    <div class="col-md-6">
        <app-quote-form (addquote)="addNewquote($event)"></app-quote-form>
    </div>
<div class="col-md-6">
  <ol>
    <div *ngFor="let quote of quotes;let i = 'index'">
        <div >
            <li id="{{i}}" appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
        </div>

        <!-- <div class="row" > -->
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deletequote($event,i)'></app-quote-details>
    </div>
  </ol>

    </div>

    </div>
</div>
