/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body {
  background-image: url(../img/q.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
}
h1 {text-align: center;
  color: magenta;
  text-decoration: underline;
}
input {
  color: inherit;
}
